* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
}

.app__headerImage {
  background-color:  white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

#uploadForm {
  margin: 0 auto;
  max-width: 25%;
}

#uploadBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#imageUp {
  display: none;
}

#profileBtn {
  max-width: 25%;
 
}